---
Language:        Cpp
BasedOnStyle:  WebKit

AccessModifierOffset:                       -4
AlignAfterOpenBracket:                      true
AlignConsecutiveAssignments:                true
AlignEscapedNewlinesLeft:                   true
AlignOperands:                              true
AlignTrailingComments:                      true
AllowAllParametersOfDeclarationOnNextLine:  false
AlwaysBreakTemplateDeclarations: true
BinPackArguments: false
BinPackParameters: false
BreakBeforeBinaryOperators: All
BreakBeforeBraces: Allman
ColumnLimit:     120
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ForEachMacros:   [ foreach ]

Standard:        Cpp11
TabWidth:        4
UseTab:          Never
...

